<button type="button" {{on "click" (fn this.toggle 'propertyResult')}}>
  Toggle property based result
</button>

<button type="button" {{on "click" (fn this.toggle 'helperResult')}}>
  Toggle helper based result
</button>

<button type="button" {{on "click" (fn this.toggle 'queryComponent')}}>
  Toggle Query Component
</button>

<button type="button" {{on "click" (fn this.toggle 'queryWithHelper')}}>
  Toggle QueryWithHelper Component
</button>

<br><br>

{{#if this.propertyResult}}
  {{#if this.users.isLoaded}}
    {{#each this.users.value key="id" as |user|}}
      {{user.name}}<br>
    {{/each}}
  {{else}}
    Loading...
  {{/if}}
{{/if}}

{{#if this.helperResult}}
  {{#let (load this.findAll) as |result|}}
    {{#if result.isLoaded}}
      {{#each result.value key="id" as |user|}}
        {{user.name}}<br>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  {{/let}}
{{/if}}

{{#if this.queryComponent}}
  <Query @ids={{array 1 2 3}} />
{{/if}}

{{#if this.queryWithHelper}}
  <QueryWithHelper @ids={{array 1 2 3}} />
{{/if}}